body {
    background-color: rgb(32, 64, 79);
}

header {
    text-align: center;
    border: 4px solid lightblue;
    border-radius: 10px;
    padding: 1%;
}
.main {
    display: flex;
    flex-basis: 100%;
    margin: 2%;
}


.forecast {
    border:whitesmoke solid 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2%;
    flex-basis:75%;
}


aside {
    border: whitesmoke dotted 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis:20%;
}

.placeholder {
    width: 20%;

}

.cityBtn {
    color:whitesmoke;
    border: 2px lightcyan solid;
    border-radius: 10px;
    background-color: lightslategray;
    padding: 10px;
    margin: 1%;
}


.cityBtn:hover {
    color: lightyellow;
    border: 5px lightcyan solid;
    border-radius: 10px;
    background-color: lightslategray;
}
